.maincontainer{
    width: 70%;
    height: auto;
    margin: 20px auto;
}

.view{
    display: grid;
    grid-template-columns: 1fr auto;
    
}

.chose{
    display: grid;
    grid-template-columns: 1fr;
    gap:1rem;
}

.chose h4{
    color:rgb(119, 0, 73);
    
}

.talla{
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(2, 40px);
    gap: 0.5rem;
}

.size{
    background-color: rgb(182, 182, 182);
    cursor: pointer;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 2px rgba(92, 99, 105, .2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.size:hover{
    background-color: rgb(226, 226, 226);
}

.talla p{
    color: black;
    font-weight: bold;
}

.acciones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.boxLike{
    display: grid;
    justify-content: center;
    min-width: 100px;
}

.like{
    background-color: #fff;
    border: none;
    color: rgb(142, 142, 142);
    padding: 0px;
    font-size: 2rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.guia{
    font-size: 0.8rem;
    cursor: pointer;
}

.guia:hover{
    color: rgb(119, 0, 73);
}

.texto{
    margin: 15px 0;
}

.imagen img{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  STYLES responsive    */
@media screen and (max-width: 943px){
    .maincontainer{
        width: 90%;
    }
}