@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&family=Roboto+Condensed&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Roboto Condensed', sans-serif;*/
    margin: 0px;
}

a {
    text-decoration: none;
  }

body{
    background-color: #F4F4F4;
    color: #252d2e;
    
}